*{
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
}

/* header section */
body.offcanvas-active {
    overflow: hidden;
  }
  
  
  .navbar {
    background-color: #242254;
    padding: 1.3rem .5rem;
  }
  
  .offcanvas-header {
    display: none;
  }
  
  .screen-overlay {
    width: 0%;
    height: 100%;
    z-index: 20%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
  }
  .screen-overlay.show {
    transition: opacity 0.5s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  
  .small-img{
    display: none;
  }
  
  .nav-text{
    font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
      margin-right: 2rem;
  }
  
  @media all and (max-width: 992px) {
    .offcanvas-header {
      display: block;
    }
    .small-img{
    display: block;
  }
  
  
  
  .nav-text{
    font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: black !important;
  }
  
  
    .mobile-offcanvas {
      visibility: hidden;
      transform: translateX(-100%);
      border-radius: 0;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1200;
      width: 40%;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
      background-color: #fff !important;
    }
  
    html:lang(ar) .mobile-offcanvas {
      transform: translateX(100%);
    }
  
    .mobile-offcanvas.show {
      visibility: visible;
      transform: translateX(0);
    }
  
    .nav-cont {
      display: block !important;
      padding-right: auto !important;
      padding-left: auto !important;
    }
    .dropdown-menu {
      border: none;
    }
    .nav-item {
      border-bottom: 1px solid #eaeaea;
    }
  }

  /* home page banner video section */
  .banner-title{
    width: 90%; 
    margin: 0 auto; 
    font-weight: 400; 
    letter-spacing: 2px; 
    line-height: 6rem; 
    top: 15%; 
    margin-top: 1rem;
  }

  .banner-over-text{
    font-family: 'Nunito Sans', Sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .banner-bottom-img{
    position: relative; 
    top: -7rem;
  }


/* six points */
.icon i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #242254;
}

.six-points{
  padding: 1rem 2.5rem
}



.title{
    font-size: 22px;
    font-weight: 900;
}

.details{
    font-family: 'Nunito Sans', sans-serif;
}

/* magic video section */

#magic-video-section{
  top: 8%;
}

#magic-video-title{
  font-family: "Lexend", Sans-serif;
  font-size: 49px;
  font-weight: 800;
  margin-bottom: 2rem;
}

#magic-video-title span{
  color: #fdcf60;
}

.magic-video-details{
  text-align: center;
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.8em;
    letter-spacing: 1.1px;
    width: 70%;
    margin: 0 auto;
}


/* educational forever */
#title{
    color: #fdcf60;
}
.education-forever-title{
    font-size: 52px;
    font-weight: 900;
}

.entrepreneurship-section{
    background-color: #242254;
}
.entrepreneurship-row{
    padding: 4.5rem 0;
}
.entrepreneurship-title{
    font-size: 47px;
    font-weight: 800;
    padding-right: 5rem ;
    width: 80%;
    margin: 0 auto;
}

.entrepreneurship-details{
  padding-top: 1.5rem;
  font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
    width: 80%;
    margin: 0 auto;
}

.img-position{
    margin-top: -6rem;
}

@media screen and (max-width: 992px) {
  .img-position{
    margin-top: 1rem;
}
}



/* people saying */

.saying-title{
    font-size: 45px;
    font-weight: 900;
}

.swiper{
    width: 80%;
}
.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.person-img img{
    border-radius: 50%;
    border: 2px solid rgba(122, 122, 122, 0.341);
    padding: .01rem;
    height: 126px;
    width: 126px;
}

.testimonial-text{ 
    width: 70%;
    line-height: 2rem;
    font-weight: 300;
    margin: 0 auto;
}

.name{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900; color: #242254;
}
.designation{
    font-size: 15px;
    font-weight: 300;
}
.pagination-gap{
    margin-bottom: 12rem;
}
.swiper-button-next {
  background-image: url(images/home/chevron-right-solid.svg);
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev {
  background-image: url(images/home/chevron-left-solid.svg);
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

hr{
    width: 98%;
    margin: 5px 0;
}

.divider{
    width: 98%;
    height: 1px;
    background: #e8e7ed;
    margin: 0 auto;
}



/* / new footer design / */
.footer-new {
    position: relative;
    background-color: #181739F0;
}
#footer-divider{
  width: 10%;
}
.footer-title{
  font-size: 47px; 
  font-weight: 600;
  letter-spacing: 3px;
}
.footer-details{
  font-size: 14px; 
  width: 65%;
}

.footer-link{
  font-size: 12px; 
  font-weight: 300;
}

.acknowladgement{
  font-size: 12px; 
  font-weight: 500; 
  letter-spacing: 3px;
}

.overlay-image {
    position: absolute;
    background: url("images/home/indigenous-art.jpg") center/contain;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100%;
    /* / just to show you the text is still there! / */
    opacity: 0.05;
}


@media screen and (max-width: 550px) {
  .footer-logo{
    padding-bottom: 1rem;
  }

  .footer-bottom{
    flex-direction: column;
  }
}





/* .back-video{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
} */



/* Projects page */
.vert-center-text {
  position: absolute; 
  top: 40%; 
  left: 0;
  text-align: center; 
  width: 100%; 
}
#project-video{
  top: 25%; 
}

.vert-center-text h1 { 
 color: white;
 font-size: 5rem;
 line-height: 1;
 font-family: 'Nunito Sans', sans-serif;
 font-weight: 900;
}

.vert-center-container {
 position:relative;
 background-image: linear-gradient(180deg, #223554C9 0%, #242254 100%);

}

video{
   object-fit: fill;
   width: 100%;
   opacity: 0.5;
}

.title-details{
  margin: 0 auto;
  letter-spacing: 1px; 
  line-height: 2rem;
}

.mojaic{
  position: relative;
  width: 100%;
    height: 6px;
    background: white;
    top: -0.37rem;
}

/* top projects */
.top-project{
  color: #242254;
  font-weight: 900;
  font-size: 38px;
}

.button {
  background-color: #bbb;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  font-family: 'Nunito Sans', sans-serif;;
}
.project-card{
  border: 1px solid #52575d4d;
  border-radius: .5rem;
}
.project-img{
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.project-title{
  color: #242254;
  font-size: 20px;
    line-height: 21px;
}

.project-details{
  font-size: 14px;
  font-weight: 200;
}

.price-title{
  color: #b81242;
  font-size: 18px;
    font-weight: 500;
}

.price-divider{
  width: 50px;
    height: 2px;
    background: #b81242;
}

.price{
  font-size: 17px;
  font-weight: 300;
}

.information-section{
  margin-top: 6rem;
}

.information-title{
  color: #242254;
  font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.information-divider{
  width: 80px;
    height: 2px;
    background: #242254;
}

.girl-pencil-img img, .girl-pencil-details{
  padding: 0 35px;
  text-align: justify;
}

.girl-pencil-details{
  font-size: 15px;
    font-weight: 300;
    line-height: 1.8em;
}

.girl-computer-img img{
  padding: 35px;
}

/* Millions of children across */
.millionsOfChild-section{
  position: relative;
  background-color: #181739F0;
}



.millionsOfChild-overlay-image {
  position: absolute;
  background: url("images/project/projects-hero.jpg") center/contain;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
  /* / just to show you the text is still there! / */
  opacity: 0.30;
}

.millionsOfChild-section{
  margin-top: 7rem;
}
.millionsOfChild-section h1{
  color: white;
  padding: 3rem 4rem 1.8rem 4rem;
 font-size: 3.7rem;
 line-height: 1;
 font-weight: 700;
 letter-spacing: 0px;
}

.millionsOfChild-section p{
  font-size: 26px;
  line-height: 1;
}

.millionsOfChild-section-divider{
  width: 60px;
  height: 3px;
  background: rgba(255,255,255,0.35);
  margin: 0 auto;
}


#given-kids-img{
  padding-top: 2rem;
}


.gavin-building-img img{
  height: 100%;
}



/* exprience */
#experience-overlay-image{
  background: url("images/project/boys-playing.jpg") center/contain;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Course page */

*{
  padding: 0;
  margin: 0;
}
.top-bg {
  background: linear-gradient(#292254, #B71242);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .top-img img{
  display: flex;
  align-items: center;
} */

.button {
background-color: #bbb;
display: block;
margin: 10px 0;
padding: 10px;
width: 100%;
border: none;
}

.card{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.course-title{
  font-size: 22px;
  font-weight: 600;
}

.course-details{
  font-size: 16px;
  font-weight: 300;

}

.top-title{
  color: #fdcf60;
}

.banner-text{
  padding-left: 6rem;
}
.top-details{
  font-size: 13px; 
  font-weight: 300;
}

.top-italic{
  font-style: italic; 
  font-size: 13px; 
  font-weight: 700;
}

.magic-video-details-italic{
  font-style: italic;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 22px;
  line-height: 1.8em;
  letter-spacing: 1.1px;
  margin-top: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .banner-text{
    padding-left: 0rem;
    width: 100%;
    margin: 0 auto;
  }

  .banner-img img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

